*,
::before,
::after {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-light-color: rgb(194, 191, 191);
}

h1 {
    text-align: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.main-container--style {
    margin: 5px;
    padding: 10px;
}

.form-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.common-style {
    margin: 10px;
    padding: 10px;
}

.form-wrap--style {
    border: 1px black solid;
    background-color: var(--main-light-color);
}

