*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-light-color: rgb(194, 191, 191);
}

body {
    text-align: center;
}

.main-title {
    grid-area: main-title;
}

.item {
    background-color: var(--main-light-color);
    border-radius: 10px;
    justify-content: center;
    margin: 5px;
}

.free {
    grid-area: free;
}

.basic {
    grid-area: basic;
}

.premium {
    grid-area: premium;
}

.container {
    display: grid;
    grid-template-areas:
    "main-title"
    "free"
    "basic"
    "premium";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-gap: 20px;
    justify-self: center;
    align-self: center;
}

.container--style {
    padding: 20px;
}

ul, li {
    list-style-type: none;
    margin: 10px;
}



.title {
    font-size: 16px;
    font-weight: normal;
    margin: 20px;
}

.price {
    background-color: #ff0000;
    padding: 20px 10px;
    color: #ffffff;
    font-size: 16px;
}

.description {
    margin-top: 20px;
    padding: 0px 40px;
}

.subscribe {
    padding: 7px 40px;
    margin-top: 20px;
    background-color: darkblue;
    color: white;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 30px;
}


a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color:lime;
}

@media screen and (min-width: 768px) {
    .container {
        display: grid;
        grid-template-areas:
        "main-title main-title main-title"
        "free basic premium";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        grid-gap: 20px;
    }

    ul {
        text-align: left;
        margin-left: 60px;
    }
    
}